# Dependências de pacotes
node_modules/

# Arquivos gerados pelo build
dist/
build/

# Arquivos de ambiente
.env
.env.local
.env.*.local

# IDEs e editores
.vscode/
.idea/

# Arquivos de cache
npm-debug.log*
yarn-error.log*
